.home-page {
  display: flex;
  width: 100%;
  gap: 6px;
  justify-content: flex-start;

  .main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sidebar {
    width: 30%;
    display: flex;
    justify-content: flex-end;

  }
}